body{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/006/912/360/original/ramadan-background-animation-4k-loop-free-video.jpg);
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 75px;
    font-family: 'Dancing Script', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dbba00;
  -webkit-text-fill-color: #008289;
}

h2{
    font-family: cursive;
    letter-spacing: 1px;
            text-transform: uppercase;
            text-align: center;
            border: 2px solid #dbba00;
            background: #008289;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #dbba00;
            -webkit-text-fill-color: white;
            box-shadow: 1px 1px 2px #008289;
            border-radius: 10px;
            padding: 3px 10px;
            cursor: pointer;
}